.vs/DungeonRoguelike/v15/Server/sqlite3/db.lock
.vs/DungeonRoguelike/v15/Server/sqlite3/storage.ide
.vs/DungeonRoguelike/v15/Server/sqlite3/storage.ide-shm
.vs/DungeonRoguelike/v15/Server/sqlite3/storage.ide-wal
Temp/
Library/
